<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h4>We have received payment! Details as follow:-</h4>
    <p>username: <%= @user.email %></p>
    <p>Total Paid: RM<%= @payment %></p>
    <p>Thank You for choosing us!</p>
  </body>
</html>
