<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">Welcome <%= @full_name %></h1>
    <p class="lead">This is a modified jumbotron that occupies the entire horizontal space of its parent.</p>
  </div>
</div>

<div class="button-group-1">
  <button type="button" class="btn btn-primary"><i class="fas fa-camera fa-6x"></i><br>CCTV</button>
  <button type="button" class="btn btn-primary"><i class="far fa-lightbulb fa-6x"></i><br>Control Applicances</button>
  <button type="button" class="btn btn-primary"><i class="far fa-file fa-6x"></i><br>Energy Consumption Report</button>
</div>

<div class="button-group-2">
  <%= link_to add_device_path(current_user.id), class:"btn btn-success test" do %>
    <i class="fas fa-mobile-alt fa-6x"></i> <br> Add New Device
    <% end %>
  <button type="button" class="btn btn-success"><i class="fas fa-lock fa-6x"></i><br>Security Setting</button>
  <button type="button" class="btn btn-success"><i class="fas fa-cog fa-6x"></i><br>Setting</button>
</div>

<a href="192.168.1.215/18/on">Turn Light on</a>
<a href="192.168.1.215/18/off">Turn light off</a>

<br>
Click <a href="//192.168.1.215/18/on">on</a> to go to yahoo.
<br>
Click <a href="//192.168.1.215/18/off">off</a> to go to yahoo.
