// Place all the styles related to the dashboard controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#home-tab {
	color: black !important;
}

#contact-tab {
	color: black !important;
}

#profile-tab {
	color: black !important;
}

.tab-pane {
	padding-top: 20px
}

.wrap {
	margin: 50px;
	background-position: center;
}

.graph {
	margin-top: 100px;
	margin-bottom: 100px;
	margin-left: 33vw;
}

.size {
	width: 5vw;
}