// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#model-b {
	width: 10% !important;
	height: 5% !important;
}

#model-t {
	width: 12% !important;
	height: 5% !important;
}


#task_start_time {
	width: 168% !important;
}

#task_end_time {
	width: 168% !important;
}

.table {
	margin-top: 25px;

}
