// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.tab-pane {
	padding-left: 370px
}

#profile-picture{
	width: 30vw;
	height: 40vh;
	position: fixed;
	left: 1vw;
}
