// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1{
  color: white !important;
}

h2{
  color: white !important;
}
//
// .button-group-1{
//   height: 20vw;
// }
div.button-group-1{
  padding-left: 8vw !important;
  padding-right: 2vw !important;
}

div.button-group-2{
  padding-left: 8vw !important;
  padding-right: 2vw !important;
}

button.btn.btn-primary, button.btn.btn-success, a.btn.btn-success, a.btn.btn-primary, a.btn.btn-success.add{
  width: 25vw !important;
  height: 16vw !important;
}


// i.fas.fa-7x-camera::before{
//   width: 100px !important;
//   height: 20vw !important;
// }
