<!-- Footer -->
<footer class="page-footer font-small cyan darken-3 fixed-bottom ">

    <!-- Footer Elements -->
    <div class="fixed-bottom">


        <!-- Grid column -->


    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright ">© 2018 Copyright Smart Tap

    </div>
  </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
