<!-- Footer -->
<footer class="page-footer font-small cyan darken-3 fixed-bottom">

    <!-- Footer Elements -->
    <div class="fixed-bottom">



    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright ">© 2018 Copyright SmartTAP

    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
