<!-- Footer -->
<footer class="page-footer2 font-small cyan darken-3 fixed-bottom">

    <!-- Footer Elements -->
    <div class="fixed-bottom">



    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copywright2 text-center align-center ">© 2018 Copyright SmartTAP

    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
